.box-header>.box-tools {
    position: relative !important;
    display: inline-block;
    right: 0px !important;
    top: 2px !important;
}
.my-group {
    width: 100%;
}
.my-group .form-control {
    width: 50% !important;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.m-top {
    margin-top: 10px;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu> .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover> .dropdown-menu {
    display: block;
}
.dropdown-submenu> a:after {
    display: block;
    float: right;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-right: -10px;
    content: ' ';
    border-width: 5px 0 5px 5px;
    border-style: solid;
    border-color: transparent;
    border-left-color: #ccc;
}
.dropdown-submenu:hover> a:after {
    border-left-color: #fff;
}
.skin-blue .main-header .navbar .nav> li.active {
    color: #f6f6f6;
    background: rgba(0, 0, 0, .1);
}
.pagination {
    margin: 0;
}
.listError {
    font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    line-height: 18.5714282989502px;
    overflow-x: auto;
    overflow-y: hidden;
    max-width: 100%;
    white-space: nowrap;
}
.my-group {
    width: 100%;
}
.news-preview img {
    max-width: 100%;
}
.my-group .form-control {
    width: 50%;
}
.small-box .bootstrap-datetimepicker-widget {
    color: black !important;
}
.pagination {
    display: inline-block;
}
i.mce-i-share-alt:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    position: absolute;
    content: '\f1e0';
    text-decoration: inherit;
    color: #000;
}
i.mce-i-envelope:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    position: absolute;
    content: '\f0e0';
    text-decoration: inherit;
    color: #000;
}
i.mce-i-task:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    position: absolute;
    content: '\f0ae';
    text-decoration: inherit;
    color: #000;
}
.img-polaroid {
    padding: 2px;
    border: 1px solid #cecece;
    background-color: white;
}
.box-widget {
    position: relative;
    border: none;
}
div.mce-fullscreen {
    z-index: 1050;
}
.photonews-thumb {
    max-width: 100%;
    margin-bottom: 10px;
}
#list-image-result {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 360px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #eee;
}
#dropzone {
    margin-bottom: 3rem;
}
.dropzone {
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 300px;
    margin-bottom: 10px;
    padding: 5px 5px;
    border: 2px dashed #0087f7;
    border-radius: 5px;
    background: white;
}
.dropzone .dz-message {
    font-weight: 400;
}
.dropzone .dz-preview .dz-error-message {
    top: 10px;
}
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
    margin-top: -32px;
}
.dropzone .dz-message .note {
    font-size: .8em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem;
}
.dropzone .dz-default.dz-message {
    position: absolute;
    top: 45%;
    left: 50%;
    width: 428px;
    height: 123px;
    margin-left: -214px;
    -webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    opacity: 1;
    background-image: url('http://cdn.sooperboy.com/admin-assets/img/spritemap.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    -ms-filter: none;
    filter: none;
}
.dropzone .dz-default.dz-message span {
    display: none;
}
#cropper {
    width: 100%;
}
#cropper> img {
    max-width: 100%;
}
.logo-icon {
    margin-top: -4px;
    margin-right: 6px;
}
.logo-lg {
    width: 210px;
    height: 40px;
    margin-top: 5px;
    /* background: url('../img/logo-white.png') no-repeat; */
    background-size: 210px 40px;
}
body.skin-black .logo-lg, body.skin-black-light .logo-lg {
    background: url('../img/logo-black.png') no-repeat;
    background-size: 210px 40px;
}
.logo-lg-hz {
    display: inline-block;
    width: 150px;
    height: 30px;
    margin-top: -5px;
    /* background: url('../img/logo-white.png') no-repeat; */
    background-size: 150px 30px;
}
body.skin-black .logo-lg-hz, body.skin-black-light .logo-lg-hz {
    background: url('../img/logo-black.png') no-repeat;
    background-size: 150px 30px;
}
#dropdown-domain .dropdown-menu li a {
    color: #333;
}
div.ms-ctn.input-sm {
    height: auto;
}
#preview-thumbnail, #preview-secondary {
    background-color: black;
}
.btn-action-2 {
    width: 70px;
}
.btn-action-3 {
    width: 100px;
}
ul.tree-list {
    margin-left: -20px;
    list-style: none;
}
ul.tree-list> li> .list-group-item {
    position: relative;
}
ul.tree-list> li> .list-group-item .btn-group {
    position: absolute;
    right: 10px;
    margin-top: -6px;
}
#dropdown-domain .dropdown-menu {
    overflow: auto;
    max-height: 300px;
}
@media (max-width: 480px) {
    .logo-lg-hz {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-top: -10px;
        background: url('../img/logo-mini.png') no-repeat;
        background-size: 40px 40px;
    }
    body.skin-black .logo-lg-hz, body.skin-black-light .logo-lg-hz {
        background: url('../img/logo-mini.png') no-repeat;
        background-size: 40px 40px;
    }
}
